.playlist{
    display: flex;
    width: 50%;
    border: solid;
    flex-direction: column;
    border-color: white;
    align-items: flex-start;
}

.track{
    padding: 10px 0;
    max-height: 30px;
}