.playlist {
    display: block;
    width: 100%;
    gap: 0
}

.playlists {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
   padding-top: 0.5em;
    margin: 0 auto;
}

.playlistContainer{
    display: flex;
    flex-direction: row;
    margin: 0.5em 0;
    padding: 1em;
    background-color: grey;
    border-radius: 0.25em;
}

.genre-buttons{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.genreButton{
    padding: 0 10px;
}

.playlistEditor{
    display: flex;
    flex-direction: row;
}